<h1 style="text-align: center" >Formulario para empleados</h1>
<br />
<div id="contenedor">
    <input type="text" id="Nombre" placeholder="Ingrese su nombre" class="form-control"/>
    <br />
    <input type="text" id="Apellido" placeholder="Ingrese su apellido" class="form-control" />
    <br />
    <button class="btn btn-success" onclick="crearEmpleado();">Crear</button>
</div>